div class='nav nav-admin'
  span class='nav-admin title' TestGuru AdminPannel

  div class='nav-admin user' Welcome #{current_user.email} Guru
  = button_to 'Sign Out', destroy_user_session_path, method: :delete

