h3 Тест #{@test.title}

p = render partial: 'admin/questions/question', collection: @test.questions

p = button_to "Создать вопрос", new_admin_test_question_path(test_id: @test.id), method: :get

p = link_to 'Back', admin_tests_path

